/*----------------Background------------------------------*/

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
  "board board board sidebar sidebar"
  "board board board sidebar sidebar"
  "board board board sidebar sidebar"
}

body {
  background-image: url('/Images/Flag.jpg');
  background-size: cover;
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  user-select: none;
}

/*--------------------Sidebar---------------------------*/

#sidebar {
  grid-area: sidebar;
}

#title {
  height: 25vh;
}

#tag {
  color: blue;
  font-family: "Alfa Slab One", cursive;
  background-color: white;
  border: 3px black solid;
  margin: 15px;
}

#chooseGame {
  color: blue;
  font-family: "Alfa Slab One", cursive;
  background-color: white;
  border: 3px black solid;
  margin: 15px;
  height: 20px;
}

#one-player {
  background-color: white;
  color: black;
  font-family: "Alfa Slab One", cursive;
  margin: 15px;
}

#two-player {
  background-color: white;
  color: black;
  font-family: "Alfa Slab One", cursive;
  margin: 15px;
}

#turnStatus {
  color: blue;
  font-family: "Alfa Slab One", cursive;
  background-color: white;
  border: 3px black solid;
  margin: 15px;
  height: 20px;
}

#start {
  background-color: white;
  color: black;
  font-family: "Alfa Slab One", cursive;
  margin: 15px;
}

#restart-button {
  background-color: white;
  color: black;
  font-family: "Alfa Slab One", cursive;
  margin: 15px;
}

/*--------------------------Game Board-----------------------------*/

div.board {
  grid-area: board;
  display: flex;

  
}

#row-1 {
  grid-area: board;
  height: 200px;
}

#row-2 {
  grid-area: board;
  height: 200px;
}

#row-3 {
  grid-area: board;
  height: 200px;
}

#cell-0 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#cell-1 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#cell-2 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#cell-3 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#cell-4 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#cell-5 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#cell-6 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#cell-7 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#cell-8 {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  border: 3px black solid;
}

#democrat {
  margin: 10px;
}

#republican {
  margin: 10px;
  margin-top: 23px;
}